* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*to totally center the container in browser*/
    font-family: 'Roboto', sans-serif;

}

.login-box-container {
    width: 400px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login-form {
    padding: 40px;
}

.login-form h1 {
    padding: 0 20px 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4f46e5;
}

.login-group {
    position: relative;
}

.login-group p {
    font-size: 12px;
    color: #969696;
}

.login-group  input{
    width: 100%;
    padding: 14px;
    margin: 0 0 18px 0;
    border: none;
    border-bottom: 1px solid #4f46e5;
}

.login-group #input-pass {
    margin: 0 0 8px 0;
}

::placeholder {
    color: #969696;
}

#forgot-pass {
    position: absolute;
    right: 0;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 0;
}

.login-btn a {
    text-decoration: none;
    background: #4f46e5;
    padding: 8px 120px 8px 120px;
    border-radius: 12px;
    font-size: 12px;
    color: #dbd9ff;
}


