* {
    box-sizing: border-box;
}

body {
    background: #f9fafb;
    font-family: Arial, sans-serif;
}

#nav-bar {
    background: #ffffff;
    width: 800px;
    height: 80px;
    margin: 0 auto;
    padding: 5px 0 5px 0;
    border-top: 4px solid #4f46e5;
    border-bottom: 4px solid #4f46e5;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
}

#link-container {
    /* to center the link in nav-bar*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 100%;
}

#link-container ul {
    list-style: none;
}

#link-container ul li {
    display: inline-block;
    margin: 0 24px 0 24px;
}

#link-container ul li a {
    text-decoration: none;
    color: #6e67e9;
}